body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; /* Light gray background color */
    margin: 0;
    padding: 0;
    color: #333; /* Dark text color */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff; /* White container background color */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #2c3e50; /* Dark gray header color */
    margin-bottom: 30px;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.column {
    flex: 1;
    background-color: #ecf0f1; /* Light gray default column color */
    padding: 20px;
    border: 1px solid #dcdcdc; /* Light gray border color */
    border-radius: 8px;
    margin: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.column:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333; /* Dark heading text color */
}

.status-description {
    font-size: 18px;
    color: #555; /* Medium gray description text color */
}

.en-route {
    background-color: #f39c12; /* Orange en-route column color */
    color: #fff; /* White text color */
}

.arrived {
    background-color: #27ae60; /* Green arrived column color */
    color: #fff; /* White text color */
}

.home-link {
    display: block;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
}

.home-image {
    max-width: 65px;
    height: auto;
    border-radius: 50%;
}
